// ======> Reset CSS <======
:root {
  --brand: #ff7f50;
  --secondary: #30a9de;
  --positive: #4caf50;
  --negative: #ff5050;
  --caution: #f6ae2d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC";
  line-height: 1.5rem;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  line-height: 1.5rem;
}

button {
  cursor: pointer;
}

hr {
  border: 0;
  height: 1px;
  background-color: #000000;
}

// ======> Welcome Page <======
.welcomeContainer {
  background-image: url("./assets/images/home_bg.jpg");
}

.login_link {
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.login_link:hover {
  animation: blink 0.55s infinite ease alternate;
}

@keyframes blink {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: rgb(184, 184, 184);
  }
}

// ======> Login Page <======
.loginPage_container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 1fr;
  grid-template-areas:
    "Illustrator"
    "Login";
}

.illustrator {
  grid-area: Illustrator;
}

.login {
  grid-area: Login;
}

.loading_container .disabled {
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .loginPage_container {
    grid-template-columns: 51% 49%;
    grid-template-rows: 1fr;
    grid-template-areas: "Login Illustrator";
  }
}

.login {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &_logo {
    margin: 0 auto;
    width: 57.6%;
  }
  &_button {
    width: 63.5%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.95rem;
    color: white;
    background-color: #1ed760;
    border-radius: 16px;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    transition: all 0.3s ease;
    max-width: 320px;
  }
  &_button:hover {
    opacity: 0.7;
  }
  &_register {
    margin: 1.5rem auto;
    text-align: center;
  }
  &_footer {
    color: #aaaaaa;
    font-family: "Poppins";
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 92.5%;
    left: 50%;
  }
}

.loader_container {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #777777;
  opacity: 0.5;
  backdrop-filter: blur(8px);
}

.login_loader {
  position: absolute;
  top: 45%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 4px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

// React Slick Custom CSS
.slider-container {
  overflow: hidden;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide > div,
.card {
  height: 100%;
}

.card {
  --bs-card-border-radius: none;
}

.card_container {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_img {
  margin-top: 0.5rem;
  width: 60%;
  max-width: 250px;
}

.card_p1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto 0.25rem auto;
}

.card_p2 {
  font-size: 0.85rem;
  margin: 1rem auto 4rem auto;
  width: 70%;
  text-align: center;
}

.slick-dots {
  top: 91%;
  li {
    all: unset !important;
    .paginator {
      cursor: pointer;
    }
  }
  li:nth-child(1) .paginator {
    left: calc(50% - 40px);
  }
  li:nth-child(2) .paginator {
    left: 50%;
  }
  li:nth-child(3) .paginator {
    left: calc(50% + 40px);
  }
}

.paginator {
  background: rgba(255, 255, 255, 0.5);
}

.slick-active .paginator {
  background: #fff;
}

.custom-prev,
.custom-next {
  position: absolute;
  z-index: 998;
  top: 50%;
  border: unset;
  background: unset;
  color: #fff;
  font-size: 1.5rem;
}

.custom-prev {
  left: 4.7%;
}

.custom-next {
  right: 4.7%;
}

@media screen and (min-width: 768px) {
  .card_container {
    top: 45%;
  }
  .card_img {
    max-width: 424px;
  }
  .card_p1 {
    font-size: 1.5rem;
  }
  .card_p2 {
    font-size: 1rem;
  }
  .slick-dots {
    top: 90%;
  }
  .custom-prev,
  .custom-next {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .card_container {
    top: 40%;
  }
  .card_p1 {
    font-size: 2rem;
  }
  .card_p2 {
    margin-top: 1.75rem;
    font-size: 1.15rem;
  }
  .slick-dots {
    top: 90%;
  }
  .custom-prev,
  .custom-next {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .card_container {
    top: 40%;
  }
  .card_p1 {
    font-size: 2.625rem;
  }
  .card_p2 {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  .slick-dots {
    top: 90%;
  }
  .custom-prev,
  .custom-next {
    font-size: 2rem;
  }
}

// ======> Home Page <======
.home_container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  overflow-y: hidden;
}

.navbar {
  &_container {
    width: 60%;
    max-width: 260px;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #f6f7f8;
    transition: all 0.3s;
    clip-path: inset(0 100% 0 0);
    padding-top: 5%;
    padding-bottom: 10%;
    @media screen and (min-width: 768px) {
      display: block;
      position: relative;
      width: 100%;
      max-width: 260px;
      height: 100vh;
      padding-bottom: 0;
      clip-path: inset(0 0 0 0);
    }
  }
  &_logo {
    margin: 2.5rem auto;
    width: 80%;
  }
  &_hr {
    width: 75%;
    border: 1px solid #e2e8f0;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

.navbar--active {
  clip-path: inset(0 0% 0 0);
}

@media screen and (min-width: 768px) {
  .navbar {
    grid-area: navbar;
  }
  .main {
    grid-area: main;
  }
  .home_container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas: "navbar main";
  }
}

.addCategory {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
}

.category {
  width: 85%;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: auto;
  grid-template-areas: "emoji content option";
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
}

.category_emoji {
  grid-area: emoji;
}

.category_content {
  grid-area: content;
  overflow: hidden;
  margin-right: 12px;
  white-space: nowrap;
}

.category_option {
  grid-area: option;
}

.category_option i {
  padding-left: 5px;
}

.addCategory {
  padding: 14px;
  color: #30a9de;
  background-color: #f6f7f8;
  border: 2px solid #30a9de;
}

.addCategory_title i {
  margin-left: 5px;
}

.addCategory_content {
  margin-left: 15px;
}

.category_option {
  position: relative;
}

.modal.fade .modal-dialog {
  transform: translate(0, 20%);
}

.modal.show .modal-dialog {
  transform: translate(0, 30%);
}

.modal-content {
  padding: 0.2rem;
}

.btn-save {
  background-color: #ff7f50;
  border: none;
}

.input_container {
  display: flex;
  position: relative;
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.emoji_selector {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 7%;
  left: 2.5%;
  font-size: 2rem;
  padding: 0.5rem;
  box-sizing: content-box;
  border-radius: 5px;
  transition: all 0.3s;
}

.emoji_selector:hover {
  cursor: pointer;
  background-color: #dddcdc;
}

.emoji_selector > div {
  position: absolute;
  top: 16%;
  left: 6%;
}

.editInput {
  width: 100%;
  background-color: #f2f0f0;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  padding-left: 4rem;
}

.emojiPicker {
  font-size: 1rem;
}

.createInput {
  width: 90%;
  margin: 1rem auto 5rem auto;
  padding: 1rem;
  background-color: #f2f0f0;
  border: none;
  border-radius: 8px;
}

.deleteContent,
.logoutContent {
  width: 95%;
  margin: 1rem auto 5rem auto;
  padding: 1rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
}

.deleteContent {
  word-break: break-all;
}

.modal-footer {
  all: unset;
  width: 90%;
  height: 12.5%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.btn.disabled {
  background-color: #ff7f5080;
}

.btn-save,
.btn-cancel {
  padding: 14px;
}

.btn-save {
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f35921;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f35921;
}

.click-disabled {
  pointer-events: none;
}

.empty_icon {
  width: 3.5rem;
  height: 3.5rem;
}

.modal-dialog {
  margin: 0 auto;
  min-width: 300px;
}

.modal.fade .search_modal {
  transform: translate(0, 0%);
}

.modal.show .search_modal {
  transform: translate(0, 10%);
}

.search_modal {
  width: 60%;
  max-width: 868px;
  height: 72%;
  max-height: 740px;
}

.search_title {
  padding-left: 1rem;
}

.searchbar {
  position: relative;
  display: flex;
  justify-content: center;
}

.search_icon {
  font-size: 1.2rem;
  position: absolute;
  top: 30%;
  left: 10%;
  color: #acadb9;
  cursor: pointer;
  @media screen and (min-width: 992px) {
    left: 8%;  
  }
}

.search_icon:hover {
  color: #000;
}

.searchInput {
  width: 90%;
  margin: 1rem auto 3rem auto;
  padding: 1rem;
  padding-left: calc(15% - 1vw);
  background-color: #f2f0f0;
  border: none;
  border-radius: 8px;
  @media screen and (min-width: 768px) {
    padding-left: calc(15% - 2vw);
  }
  @media screen and (min-width: 992px) {
    padding-left: calc(15% - 3.5vw);
  }
}

.searchInput::placeholder {
  color: #acadb9;
}

.result_container {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  height: 53%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 300px;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c9d3;
  border-radius: 6px;
}

.result_title {
  font-size: 1.125rem;
  font-weight: 700;
  position: absolute;
  top: 75%;
  left: 3%;
}

.podcast_container {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  grid-template-rows: auto;
  align-content: start;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .podcast_container {
    top: 12.5%;
    left: -4%;
    width: 70%;
    height: 87.5%;
    grid-template-columns: repeat(auto-fit, 190px);
  }
}
@media screen and (min-width: 1200px) {
  .podcast_container {
    left: -8%;
    width: 73%;
  }
}

.favorite_container {
  position: absolute;
  top: 12.5%;
  left: 6%;
  width: 90%;
  height: 85%;
  overflow-y: scroll;
  padding-right: 0.5rem;
  @media screen and (min-width: 768px) {
    width: 65%;
    left: 1%;
  }
}

.console_button {
  position: absolute;
  top: 6%;
  right: 70%;
}

.card_button {
  width: 30%;
  margin: 1rem;
  margin-top: 0.5rem;
  padding: 3px;
  font-size: 0.875rem;
  background: #30a9de;
  border-color: #30a9de;
}

.card_button:hover {
  background: #0c94cf;
  border-color: #0c94cf;
}

.modal.fade .podcast_modal {
  transform: translate(0, 10%);
}

.modal.show .podcast_modal {
  transform: translate(0, 20%);
}


.modal-content {
  height: 100%;
}

.podcast_modal {
  max-width: 50%;
  max-height: 72%;
  overflow: hidden;
}

.podcast_modal .btn-close {
  position: absolute;
  top: 5%;
  right: 5%;
}

.podcast_title {
  width: 100%;
  position: relative;
  display: flex;
  max-height: 144px;
}

.podcast_image {
  width: 20%;
  height: 20%;
  max-width: 127px;
  max-height: 127px;
  border-radius: 10px;
}

.podcast_text {
  width: 80%;
  position: relative;
  padding: 0.5rem;
  padding-left: 1rem;
}

.podcast_name {
  font-size: 1.125rem;
  font-weight: 700;
  color: #111111;
}

.podcast_subtitle {
  font-size: 0.75rem;
  font-weight: 400;
  color: #93989a;
}

.podcast_description {
  width: 90%;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 0.5rem;
  color: #718096;
  white-space: normal;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.podcast_delete {
  position: absolute;
  top: 80%;
  right: 2.5%;
  background-color: #fff;
  border: 1px solid #ff5050;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #ff5050;
}

.main_container {
  position: relative;
  height: 100vh;
}

.custom_dialog {
  width: 24%;
  min-width: 250px !important;
  max-width: 300px !important;
  display: flex !important;
  align-items: center !important;
  padding-bottom: 0 !important;
}

.custom_dialog_icon {
  display: none !important;
}

.custom_dialog_title::before {
  font-family: "Font Awesome 6 Free";
  content: "\f058";
  font-weight: 400;
  font-size: 1.5rem;
  color: #4caf50;
  margin-right: 0.5rem;
}

.custom_dialog_title {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  color: #141416 !important;
  margin-left: 0.5rem !important;
  padding: 1rem !important;
  display: flex !important;
  width: 100%;
  align-items: center;
}

.loader_container {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #777777;
  opacity: 0.5;
  backdrop-filter: blur(8px);
}

.home_loader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 4px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search_loader {
  position: absolute;
  top: 28%;
  left: 47.5%;
  width: 40px;
  height: 40px;
  border: 4px solid #0a0a0a6b;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.infinite-scroll-component__outerdiv {
  position: absolute;
}

// ======> Home Page <======
